if [[ -e "$HOME/poetry.lock" && -e "$HOME/pyproject.toml" ]]; then
    poetry lock \
    && poetry install \
    && poetry shell

elif [[ -e "$HOME/requirements.txt" ]]; then
    python -m venv "$HOME/.venv "&& \
    source "$HOME/.venv/bin/activate" && \
    pip install -r "$HOME/requirements.txt"
else
    echo "Ready to go!"
fi