WORKDIR_PATH=${WORKDIR_PATH:-"$HOME"}

if [[ -e "$WORKDIR_PATH/poetry.lock" && -e "$WORKDIR_PATH/pyproject.toml" ]]; then
    poetry lock \
    && poetry install \
    && poetry shell

elif [[ -e "$WORKDIR_PATH/requirements.txt" ]]; then
    python -m venv "$WORKDIR_PATH/.venv "&& \
    source "$WORKDIR_PATH/.venv/bin/activate" && \
    pip install -r "$WORKDIR_PATH/requirements.txt"
else
    echo "Ready to go!"
fi