if [[ -e "$PWD/poetry.lock" && -e "$PWD/pyproject.toml" ]]; then
    poetry lock \
    && poetry install \
    && poetry shell

elif [[ -e "$PWD/requirements.txt" ]]; then
    python -m venv "$PWD/.venv "&& \
    source "$PWD/.venv/bin/activate" && \
    pip install -r "$PWD/requirements.txt"
else
    echo "Ready to go!"
fi