WORKDIR_PATH=${WORKDIR_PATH:-"$HOME"}


if [[ ! -e "$WORKDIR_PATH/.cargo" ]]; then
    echo "Rust not found! Installing rust for $USER"
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
    echo "Rust installed! Let's go!"
else
    echo "Rust install found!"
fi

if [[ -e "$WORKDIR_PATH/Cargo.toml" ]]; then
    cargo install --path $WORKDIR_PATH
else
    echo "Ready to go!"
fi