if [[ -e "$HOME/composer.json" && ! -e "$HOME/composer.lock" ]]; then
    php composer.phar update
elif [[ -e "$HOME/compose.lock" ]]; then
    php composer.phar install
else
    echo "Ready to go!"
fi