WORKDIR_PATH=${WORKDIR_PATH:-"$HOME"}
NPM_REGISTRY_URL=${NPM_REGISTRY_URL:-}
NPM_AUTH_TOKEN=${NPM_AUTH_TOKEN:-}

if [[ "$NPM_REGISTRY_URL" != "" && "$NPM_AUTH_TOKEN" != "" ]]; then
    npm config set registry=$NPM_REGISTRY_URL
    npm config set $NPM_AUTH_TOKEN
fi

if [[ -e "$WORKDIR_PATH/package.json" ]]; then
    pnpm install
else
    echo "Ready to go!"
fi
